<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteCond %{HTTP_HOST} !\.ddev\.site$
  RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [L,R=301]

  RewriteCond %{HTTP_HOST} ^www\.typo3\.sfroemken\.de$ [NC]
  RewriteRule ^(.*)$ https://www.typo3lexikon.de/$1 [R=301,L]
  RewriteCond %{HTTP_HOST} ^typo3\.sfroemken\.de$ [NC]
  RewriteRule ^(.*)$ https://www.typo3lexikon.de/$1 [R=301,L]
  RewriteCond %{HTTP_HOST} ^typo3lexikon\.de$ [NC]
  RewriteRule ^(.*)$ https://www.typo3lexikon.de/$1 [R=301,L]

  # Do not try to access fileadmin anymore
  RewriteRule ^fileadmin/ - [L,R=410]

# Redirect requests from index.php?whatever to start page. QSD: Query String Discard
  RewriteRule ^index.php / [L,QSD,R=301]

  # Do not try to open files with showpic eID
  RewriteCond %{QUERY_STRING} tx_cms_showpic
  RewriteRule .* - [G,NC]

  # Site is gone forever 410
  RewriteRule ^kontakt/kontakt-empfangsbestaetigung.html - [G]
  RewriteRule ^typo3-tutorials/extensions/fluid/fluid-performance.html - [G]
  RewriteRule ^typo3-tutorials/extensions/sr-freecap.html - [G]
  RewriteRule ^typo3-tutorials/rte/rte-konfigurieren.html - [G]
  RewriteRule ^typo3-tutorials/t3lib.html - [G]
  RewriteRule ^typo3-tutorials/tipps-und-tricks/schriftart-konvertieren.html - [G]
  RewriteRule ^typo3-tutorials/tipps-und-tricks/cursor.html - [G]
  RewriteRule ^typo3-tutorials/typo3-einrichten/phoenix.html - [G]
</IfModule>
