<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteCond %{HTTP_HOST} !\.ddev\.site$
  RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [L,R=301]

  RewriteCond %{HTTP_HOST} ^www\.typo3\.sfroemken\.de$ [NC]
  RewriteRule ^(.*)$ https://www.typo3lexikon.de/$1 [R=301,L]
  RewriteCond %{HTTP_HOST} ^typo3\.sfroemken\.de$ [NC]
  RewriteRule ^(.*)$ https://www.typo3lexikon.de/$1 [R=301,L]
  RewriteCond %{HTTP_HOST} ^typo3lexikon\.de$ [NC]
  RewriteRule ^(.*)$ https://www.typo3lexikon.de/$1 [R=301,L]
</IfModule>
